{{ form_start(form) }}
    {{ form_row(form.title, {'attr': {'class': 'form-control'}, 'label':'Titre :' }) }}
    {{ form_row(form.content, {'attr': {'class': 'form-control'}, 'label': 'Contenu :'}) }}
    {{ form_row(form.isPublished, {'attr': {'class': 'form-check-input'}, 'label': 'Publier l\'article?'}) }}
    {{ form_row(form.category, {'attr': {'class': 'form-control'}, 'label': 'Category :'}) }}

    <button type="submit" class="btn btn-primary">Soumettre</button>
{{ form_end(form) }}